/*--------------------------------------------------------------------------
  Fonts Style
--------------------------------------------------------------------------*/
@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Regular.ttf'); 
}
@font-face {
  font-family: ConcertOne;
  src: url('../fonts/ConcertOne-Regular.ttf'); 
}
@font-face {
  font-family: Roboto;
  src: url('../fonts/Roboto-Regular.ttf'); 
}
body{
  font-family: Roboto;
}
a{
  color: #054e47;
}
a:hover{
  color: #13756c;
}

.divider{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(54,185,204,0.29);
}
.bg-navbar{
  background: #054e47;
}
.bg-contenido{
   background: #eee;
   height: 650px;
}
.bg-sidebar{
  background: #009688;
}
.pointer{
  cursor: pointer;
}
.center-y{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - 1rem);
}

.center-y::before {
  display: block;
  height: calc(100vh - 1rem);
  content: "";
}
.navbar-dark{
  background: rgba(0,0,0,0.3);
  -webkit-transition: 500ms all;
  transition: 500ms all;
  padding-top: 2px;
}
#content{
  padding-top: 4rem;
}
/*--------------------------------------------------------------------------
  banner curso Style
--------------------------------------------------------------------------*/
.banner-class{
   background-image: url("../img/banner.png");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image */
}
.title-curso i{
  display: none;
}
.title-curso:hover i{
  display: inline;
  cursor: pointer;
}
.edit-banner{
  display: none;
  margin: 0;
}

.banner-curso:hover .edit-banner  {
  display: block;
  right: 0;
  top: 0;
} 

/*--------------------------------------------------------------------------
  list group Style
--------------------------------------------------------------------------*/
.list-group-item{
  border: none;
  box-shadow: 5px 5px 40px rgba(192,208,208,0.25);
}
.list-group-item-action:hover{
 color: #054e47;
    text-decoration: none;
    background-color: #064e473d;
}
/*--------------------------------------------------------------------------
  Sidebars Style
--------------------------------------------------------------------------*/
.navbar-nav{
  transition: .2s all;
}
/*--------------------------------------------------------------------------
  Navs Style
--------------------------------------------------------------------------*/

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    
    color: #054e47;
    font-weight: 700;
}
.nav-tabs .nav-link {
    border: none;
}
.nav-tabs .nav-item a {
    color: #377d77;
}
.nav-tabs .nav-item a:hover {
    color: #377d77;
}
.boton-sidebar{
  color: white;
  cursor: pointer;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.boton-sidebar:hover{
  background: transparent;
}
/*--------------------------------------------------------------------------
  modals Style
--------------------------------------------------------------------------*/
.modal-content {
    border-radius: 16px;
}
/*--------------------------------------------------------------------------
  Card Style
--------------------------------------------------------------------------*/
.card{
  border: none;
  box-shadow: 5px 5px 40px rgba(192,208,208,0.25);
   border-radius: 16px;
}
.card .card-img-top{
   border-radius: 16px 16px 0 0;
}

.card-header{
  border:none;
  background-color: rgba(5,78,71,0.18);
}
.card-footer{
  border:none;
  background-color: rgba(5,78,71,0.18);
  
}
.card-footer:last-child {
    border-radius: 0 0 16px 16px;
}
.card-header:first-child {
    border-radius: 16px 16px 16px 16px;
}
.modal-footer {
    border-top: 0;
}
/*--------------------------------------------------------------------------
  dropdown item color 
--------------------------------------------------------------------------*/
.dropdown-item:hover, .dropdown-item:focus {
  color: #054e47;
  text-decoration: none;
  background-color: #054e471f;
}
.dropdown-item:hover i{
  color: #054e47;
}
.dropdown-item i{
  color: #c6dfdd;
}

.dropdown-item.active, .dropdown-item:active {
  color: #054e47;
  text-decoration: none;
  background-color: #064e473d;
}
.dropdown .dropdown-menu .dropdown-header {
    color: #054e47;
}
/*--------------------------------------------------------------------------
  topbar color acento
--------------------------------------------------------------------------*/
.topbar .dropdown-list .dropdown-header {
    background-color: #f6c23e;
    border: 1px solid #f6c23e;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #009688;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #91d8d1;
}
/*--------------------------------------------------------------------------
  Jumbo color
--------------------------------------------------------------------------*/
.jumbo{
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: rgba(5,78,71,0.18);
  border-radius: 0.3rem;
}
/*--------------------------------------------------------------------------
  Input File Style
--------------------------------------------------------------------------*/
.inputfile {
    width: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
}
.inputfile+label {
    width: 100%;
    max-width: 100%;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.inputfile:focus+label, .inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}
.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
}
/* style 1 */

.inputfile-1+label {
    color: #565656;
    background-color: #b1b1b1;
}
.inputfile-1:focus+label, .inputfile-1.has-focus+label, .inputfile-1+label:hover {
    color: #d6d6d6;
    background-color: #808080;
}
/* style 2 */

.inputfile-2+label {
    color: #565656;
    border: 4px dotted #b1b1b1;
}
.inputfile-2:focus+label, .inputfile-2.has-focus+label, .inputfile-2+label:hover {
    color: #2b2b2b;
    border: 4px dotted #525252;
}
/* style 3 */

.inputfile-3+label {
    color: #717171;
}
.inputfile-3:focus+label, .inputfile-3.has-focus+label, .inputfile-3+label:hover {
    color: #000
}

/*--------------------------------------------------------------------------
  Btn Style
--------------------------------------------------------------------------*/
.btn{
  color: #fff;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 8px;
  border: none ; 
}

.btn:focus {
    outline: 0;
    box-shadow: none;
}

.btn-primary {
  color: #fff;
  font-weight: 900;
  background-color: #f6c23e;
  border-color: none;
}

.btn-primary:hover {
  color: #fff;
  background-color: #eaba3e;
  border-color: none;
}

.btn-primary:focus, .btn-primary.focus {
  color: #fff;
  background-color: #c79e34;
  border-color: none;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #fbe09b;
  border-color: none;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #c79e34;
  box-shadow: none;
}

.btn-secondary {
  color: #6c757d;
  background-color: #fff;
  border-color: none;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #a8b0b7;
  border-color: none;
}
.btn-secondary:focus, .btn-secondary.focus {
  color: #6c757d;
  background-color: #fff;
  border-color: none;
}
.btn-secondary.disabled, .btn-secondary:disabled {
  color: #888888;
  background-color: #dedede;
  border-color: none;
}
.btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #6c757d;
  box-shadow: none;
}

/*--------------------------------------*/
.item-purchase-banner {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 15px;
  z-index: 9990;
  background: #000000a8;
  color: #ffffff; }
  .item-purchase-banner .banner-text {
    margin-bottom: 0;
    margin-left: auto;
    margin-right: 15px;
    font-weight: 400;
    color: #ffffff; }
  .item-purchase-banner .banner-button {
    background-image: linear-gradient(109.6deg, #0b85ea 11.2%, #223fc9 91.1%);
    border: none;
    color: #ffffff; }
  .item-purchase-banner .toggler-close {
    margin-left: auto;
    color: #ffffff; }

.cargando {
    background: transparent;
    width:100%;
}
.cargando img{
  position: absolute;
  top: 50px;
  left: 45%;
  right: 0;
  bottom: 0;
  width:60px;
  z-index: 2;
}
.form-control:focus {
    border-color: #1cc88a;
    outline: 0;
    box-shadow: none;
}
.scale-icon:hover i {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
}

/* -------- Validar inputs --------- */
.input-error {
  border-color: #fff;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem #f443366b;
  box-shadow: 0 0 0 0.2rem #f443366b;
}
.text-valid{
  font-size: 80%;
  color: #1cc88a;
}
.text-invalid{
  font-size: 80%;
  color: #e74a3b;
}

/* -------- Puntos de corte --------- */
/* SM*/
@media (max-width: 576px) {
  .nombre-curso{
    font-size: 1.75rem;
  }
} 
/* MD*/
@media (min-width: 768px) {
   .nombre-curso{
    font-size: 1.75rem;
  }
}
/* LG*/
@media (min-width: 992px) {
  .nombre-curso{
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}
/* XL*/
@media (min-width: 1200px) {}


/* -------- Background colors --------- */
.bg-flat-primary { background-color: #054e47; }

/* -------- Text colors --------- */
.text-primary {
  color: #054e47 !important; 
  transition: .2s all;
}
a.text-primary:hover, a.text-primary:focus {
  color: #13756c !important;
  transition: .2s all;
}

/* -------- Borders colors --------- */
.border-right-primary { border-right: 0.25rem solid #f6c23e !important;  }

.border-left-primary { border-left: 0.25rem solid #f6c23e !important; }

.border-bottom-1 { border-bottom: 0.25rem solid #3f51b5 !important; }

.border-top-primary { border-top: 0.25rem solid #f6c23e !important; }

/* -------- navtabs colors --------- */
.nav-tabs .nav-link-primary.active,
.nav-tabs .show > .nav-link-primary{
  color: #fff;
  background-color: #f6c23e;
}